<!DOCTYPE html>
<html>
<head>
    <title>Professor - AskAnon</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
    <h1>Professor</h1>
    <p>Create a classroom Q&A session.</p>

    <form method="post" action="/create-session">
        <label for="title">Class Session Title:</label>
        <br>
        <input type="text" id="title" name="title" required>
        <br><br>

        <button type="submit">Create Session</button>
    </form>

    <br>
    <a href="/">Back Home</a>
    </div>  
</body>
</html>